body {
  background-image: url("./images/backroundImg1.jfif");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

h1 {
  text-shadow: 2px 2px 5px gray;
}

#bigh1 {
  font-size: 10vw;
}
#smallh1 {
  font-size: 62px;
}
body section p {
  font-size: 3.5vw;
}

.slide {
  /* position: absolute; */
    /* left: 0px; */
    /* top: 0px; */
    /* width: 100%; */
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 1;
}
.quiz-container {
  /* position: relative; */
  /* height: 200px; */
  /* margin-top: 15px; */
}
#page {
  padding-top: 25vh;
}
#timeSty {
  padding-top: 5%;
  padding-left: 40%;
}
#timeTxt {
  font-size: larger;
  font-weight: bolder;
  color: black;
}
#timeB {
  background-color: rgba(140, 0, 255, 0.116);
}
#questBody {
  font-size: 2.4vw;
}
#questS {
  padding-bottom: 10%;
}
#next {
  position: relative;
  top: 40px;
}
#quiz {
  position: relative;
  top: 8vw;
}
#resSty {
  font-size: 6vh;
  text-shadow: 2px 2px 5px gray;
}
#con {
  font-size: 8vh;
  text-shadow: 2px 2px 5px gray;
}
#userInput {
  background-color: rgba(140, 0, 255, 0.116);
  margin-left: 25%; 
  margin-right: 25%;
  margin-bottom: 5%;
  padding-bottom: 15px;
}
#userBox {
  background-color: rgba(140, 0, 255, 0.31)
}